doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Simple gulp project
    link(rel='stylesheet' href='./main.css')
  body
    img(src='./assets/img.png' style='width: 140px; height: 140px;' alt='')
    h1 $hello
    script(src='./main.bundle.js')